#main-header img {
  width: 100%;
  height: 100%;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  color: #fff;
  background: #000;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
#name-banner {
  background-color: #222E50 !important;
  }
#welcome {
background-color: #145C9E !important;
}
#main-footer {
  background-color: #222E50 !important;
  }
  #home-button {
    background-color: #145C9E !important;
    }
    #resume-card {
      background-color: #439A86 !important;
      }
    #resume-button {
      background-color: #439A86 !important;
      }
      #work-card {
        background-color: #F2AF29 !important;
        }
      #work-button {
        background-color: #F2AF29 !important;
        }
        #contact-card {
          background-color: #CE3F28 !important;
          }
        #contact-button {
          background-color: #CE3F28 !important;
          }
            #contact-icon {
              background-color: #CE3F28 !important;
              }
              #contact-submit {
                background-color: #CE3F28 !important;
                }